<br><br><br>
<div class="ui raised very padded text container piled segments">
  <div class="ui segment">
<!--    <form class="ui form" #f="ngForm" novalidate>
-->      <table class="ui compact celled definition table">
        <thead class="full-width">
          <tr>
            <th></th>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Total Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books; let i = index; trackBy: trackBooks">
            <td class="collapsing">
              <div (click)="test(i)">
                <i class="trash outline icon"></i>
              </div>
            </td>
            <td>{{book.name}}</td>
            <td><input [value]="book.TotalQty" type="number" [(ngModel)]="book.TotalQty"></td>
            <td><input [value]="book.oldPrice" readonly [(ngModel)]="book.oldPrice"></td>
            <td>{{book.TotalQty * book.oldPrice}}</td>
            
          
          </tr>
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">
              <div class="ui right floated small primary labeled icon button" (click)="test()">
                <i class="user icon"></i> Add User
              </div>
              <div (click)="totalQ()" class="ui small  button">
                Total Price
              </div>
              <p></p>
            
                
              
            </th>
          </tr>
        </tfoot>
      </table>

  </div>
</div>