<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="assets/images/logo.png">
        Brand
      </a>
      <a class="item" routerLink='#'>
        Home
      </a>
      <a class="item" routerLink='#'>
        About Us
      </a>
        <div class="right item ui action input">
          <input type="text" placeholder="Search...">
          <div class="inverted button">
            <a class="item" routerLink='../catalog'>
            Search
            </a>
          </div>

        </div>
        
          <a class="item" routerLink='#'>
            <i class="big icons">
              <i class="inverted shop icon"></i>
              <i class="grey corner add icon"></i>
            </i>
          </a>
    </div>
</div>

